*{
    background-color: rgb(255, 7, 189);
    margin: 0;
}
body{
    width: 100%;
    height:100vh;
}
h2{
    position: relative;
    top:50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color:rgb(0, 0, 0);
}
form{
    text-align: center;
    color:white;
    background-color: rgb(27, 27, 27);
    width: 260px;
    height: 400px;
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
    top: 100px;
    left: 620px;
}
#a1{
    padding: 10px 10px;
    margin: 5px 10px;
    border: transparent;
    color: white;
    background-color: transparent;
}
#result{
    padding: 15px 20px;
    margin: 20px 5px;
    margin-bottom: -5px;
    border: transparent;
    border-bottom:2px solid cyan;
    color: white;
    text-align: right;
    background-color: transparent;
}
#operator{
    padding: 10px 10px;
    margin: 5px 10px;
    border: transparent;
    color:cyan ;
    background-color: transparent;
}
