td{
    height: 100px;
    width: 100px;
}
#white
{
    background-color: black;
}
#black{
    background-color: white;
}
table{
    padding:0px;
    border:5px solid black;
}
h1{
    color:red;
}